header
{
    background-color: PaleTurquoise;
    color: darkblue;
    border-radius:10px;
    margin:10px;
    height: 70px;

}
header a
{
border-radius:5px;
background-color: white;
text-decoration:none;
padding:10px;
margin:10px;
}

h1{
   color:darkorchid;
   font-family: 'Times New Roman', Times, serif; 
   text-align:center;
}

nav,a{
    background-color: green;
    border-radius: 10px;
    margin:30px;
    padding: 30px;
    border-radius: 10px;
}
a{
     background-color:white;
     text-decoration: none;
}
p
{
     background-color:white;
}
main{
 background-color: lightgreen; 
 border-radius: 10px;  
 height:200px;
    margin:30px;
    padding: 30px;
}
footer
{
    background-color:fuchsia;
     height:100px;
}



